*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
     font-family: "Poppins",sans-serif;
     line-height: 1.5;
     color:#333;
     background-color: #fdfdfd;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding : 0 22px;

}
header{
    background-color:#0e3959 ;
    color: #fff;
    padding:20px 0;
    position:sticky ;
    top: 0;
    z-index:5000 ;
     
}
nav{
    display:flex;
    justify-content:space-between ;
    align-items:center ;

}
nav ul{
    list-style: none;  /*bullet remove*/
     display:flex;     /*horizantal*/
    gap:24px;
}
nav a{
    color:white;
    text-decoration: none;  /*line remove from below */
    font-weight: 500;

}
nav a:hover{
    color:yellow;

}
#home{
     position: relative;
     height: 90vh;
     display:flex;
     align-items: center;
     color: #fff;
     text-align: center;
     overflow:hidden;

}
.bg-video{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.overlay{
    
}
