*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
     font-family: "Poppins",sans-serif;
     line-height: 1.5;
     color:#333;
     background-color: #fdfdfd;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding : 0 20px;

}
header{
    background-color:#0e3959 ;
    color: #fff;
    padding:20px 0;
    position:sticky ;
    top: 0;
    z-index:5000 ;
     
}
nav{
    display:flex;
    justify-content:space-between ;
    align-items:center ;

}
nav ul{
    list-style: none;  /*bullet remove*/
     display:flex;     /*horizantal*/
    gap:24px;
}
nav a{
    color:white;
    text-decoration: none;  /*line remove from below */
    font-weight: 500;

}
nav a:hover{
    color:yellow;

}
#home{
     position: relative;
     height: 90vh;
     display:flex;
     align-items: center;
     color: #fff;
     text-align: center;
     overflow:hidden;

}
.bg-video{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:2;
}
.home-content {
    position:relative;
    z-index:3;
    max-width:300px;
    text-align:center;
    }
.home-content h2{
    font-size:1.2 rem;
    margin-bottom:15px;
}
.home-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}
.home-content .btn {
  background: #ffca28;
  color: #0e3959;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
section .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
/* destinations */

#destinations {
  padding: 80px 0;
  background-color: #fdfdfd;
  text-align: center;
}
#destinations h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #222;
  text-decoration: underline;
}

.destinations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  justify-content: center;
}
.destinations-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.destinations-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.destinations-card h3 {
  padding: 15px;
  font-size: 1.4rem;
  color: #333;
  background: #fff;
}

.destinations-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} 

